
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Documentation layout example - UIkit documentation</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="../../css/uikit.docs.min.css">
        <script src="../../js/jquery.js"></script>
        <script src="../../js/uikit.min.v2.js"></script>
        <script src="../../js/sticky.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            {% include 'partials/templates/nav.njk' %}

            {{ content | safe }}

            {% include 'partials/templates/off-canvas.njk' %}

    </body>
</html>